<%- include("partials/header"); -%>



<div class="container dtag5">
  <div class="row arev">
    <h2>All Reviews</h2>
  </div>
  <hr class="lhr">
  <div class="row rowh">

    <%- include("partials/side_menu"); -%>

    <div class="col-6">

      <% articles.forEach((article)=>{ %>

      <div class="row artro">
        <div class="col-lg-6">
          <img class="timg" src="images/<%=article.imgtag%>.jpg" alt="">
        </div>
        <div class="col-lg-6">
          <h4><a href="/articles/<%=article._id%>"> <%=article.title%></a></h4>
        </div>
      </div>
      <hr class="slhr">

      <% }); %>

    </div>
  </div>
</div>




<%- include("partials/footer"); -%>
